
body {
     background-color: #f1f1f1;
     color: #0f0f0f;
}

.nav-link {
     color: #c3e7e6;
}
.nav-link:hover {
     color: #f1f1f1;
}
.alert-success  {
     color: #c3e7e6;
     background: #3f7c7a;
}
.bg-colorNew {
     background: #3f7c7a;
}

.card div{
     max-width: 495px;
}

.badge{
     font-size: 1rem;
}